* {
margin :0px;
padding :0px;}
.header {
background-color : white;
height :50px;
width :700px;}
#logo {
display :inline;
font-size :18px;}
a {
margin-right :75px;
}
footer {
background-color :blue;
color :white;
height :100px;
width :700px;
margin-top :450px;}
#seconddiv {
background-image :url("https://plus.unsplash.com/premium_photo-1675432656807-216d786dd468?q=80&w=690&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size :cover;
height :500px;
width :700px;
}
