* {
margin :0px;
padding :0px;}
.header {
background-color : white;
height :50px;
width :700px;}
#logo {
display :inline;
font-size :18px;}
a {
margin-right :75px;
}
footer {
background-color :blue;
color :white;
height :100px;
width :700px;
margin-top :450px;}
#seconddiv {
background-image :url("fosk_photo");
background-size :cover;
height :500px;
width :700px;
}
