* {
margin : 0%;
padding : 0;}
.container {
height : 100vh;
width : 100%;
display: flex;
justify-content : center;
align-items : center;
}
weather_container {
color : white; }
.temp { 
height :4.5rem;}
.time_location {
font-size : 2rem;}
.condition {
margin : 0.5rem;
margin-left : 0.2rem; }
nav {
height: 100px;
margin: 5rem}
.search_area {
padding: irem 0;
outline: none;
border: none;
color: white;
background-color: transparent;
font-size: 1.1rem;
border-bottom: 2px solid white; }
nav form button {
padding: 1rem;
background-coirem
margin-top: 1rem;
font-size: 1.1rem;
outline: none;
border: none;
cursor: pointer; }