* {
  margin :0px;
  font-family :arial;
  border : border-box;
}

.navbar {
  height :40px;
  width :400px;
  background-image :url("navbar.jpg");
  background-size :cover;
  background-color : #222222;
}
.border {
  border :2px solid transparent;
}
.border :hover {
  border :1.5px solid white;
}
a {
  color :black;
  text-decoration :none;
  margin-left :10px;
  padding-top :20px;
}
#secondbody {
  height :600px;
  width :400px;
  background-image : url("background.jpg");
  background-size :cover;
  background-color :#002455;
}
#github {
  color : white;
  position: absolute;
  top :300px;
  margin-left :20px;
  font-size :15px;
}
#linkdin {
  color : White;
  position: absolute;
  top :300px;
  margin-left :80px;
  font-size :15px;
}
#git {
  color : white;
  position: absolute;
  top :300px;
  margin-left :150px;
  font-size :15px;
  
}
#secbtext {
  position : absolute;
  margin-left :20px;
  margin-top :150px;
  font-size :20px;
  color :white;
  display :inline-block;
}
#image {
  height :150px;
  width :150px;
  background-color :red;
  background-image :url("tinue.jpg");
  background-size :cover;
  position : absolute;
  top : 160px;
  margin-left :200px;
  border-radius :50%;
  border : 2px solid aqua;
}
#smalltb {
  color :white;
  position : absolute;
  margin-top :210px;
  font-size :10px;
  margin-left :20px;
}
#thirddiv {
  height :200px;
  width :400px;
  background-color :black;
}
#aboutphoto {
  position: absolute;
  bottom :500px;
  margin-left :10px;
  background-color :red;
  height:100px;
  width:100px;
  background-image : url("tinue.jpg");
  background-size :cover;
}
#abouthead {
  position: absolute;
  top :200px;
  color : White;
  margin-left :10px;
}

.about {
  height:500px;
  width :500px;
  background-color :aqua;
}
#footer {
  height:260px;
  width :400px;
  background-color :#F1F3E0;
}

#aboutdiv {
  height :600px;
  width :400px;
  background-color :#1F2C39;
}
#abouttext {
  color :white;
  font-size :10px;
  position: absolute;
  top :250px;
  text-align :left;
  margin-left :10px;
  
}
#aboutthirdb {
  height:200px;
  width :400px;
  border :2px solid #6AECE1;
  background-color :#002455;
}
.aboutfootertext {
  font-size :10px;
  display :block;
  padding-top :20px;
  color :white;
}
#skillbody {
  height:600px;
  width :400px;
  background-color :#0C2B4E;
}
#skilltext {
  font-size :8px;
  color :white;
  margin-left :10px;
}
#skillhead {
  color :white;
  margin-left :10px;
}
#projectdiv {
  background-color : aqua;
  height :400px;
  width :600px;
}
.project {
  padding-top :20px;
  margin-left :10px;
  font-size :10px;
}

.contacthead {
  background-color :aqua;
  height:600px;
  width :400px;
}
button {
  background-color :blue;
}
.proanker {
  color :white;
}

