* {
margin : 0%;
padding : 0;}
.container {
height : 100vh;
width : 100%;
display: flex;
justify-content : center;
align-items : center;
}
weather_container {
color : white; }
.temp { 
height :4.5rem;}
.time_location {
font-size : 2rem;}
.condition {
margin : 0.5rem;
margin-left : 0.2rem; }